* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
    transition: all 1s ease;
}


body {
    min-height: 100vh;
    background-image: linear-gradient( to bottom right, aquamarine,rgba(79,51,176,1.0));
    font-family: sans-serif;
}

footer{
display: flex;
justify-content: center;
align-items: center;
padding-bottom: 10px;

}
a{
    text-decoration: none;
    
}
.container {
    height: 100vh;
    width: 100vw;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.calculatorframe {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 30px #000;
}
.output{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    background-color: whitesmoke;
    border-radius: 10px;
    margin-bottom: 20px;
    width: auto;
    height: 120px;
    overflow-x: scroll;

}

#oldDisplay{
  
    height: 50px;
    width: auto;
    max-width: 270px;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 25px;
    background-color: whitesmoke;
    margin-bottom: 40px;
    
}

#display {
    
    height: 90px;
    width: auto;
    max-width: 270px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 30px;
    background-color: whitesmoke;
   
  }

.output::-webkit-scrollbar {
    display: block;
    height: 3px;
}

button {
    height: 60px;
    width: 60px;
    border: 0;
    border-radius: 30px;
    margin: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: all 200ms ease;
}

button:hover {
    transform: scale(1.1);
}

button#equal {
    height: 130px;
    background-color: lightgreen;
}
[data-xyz="numzero"] {
    width: 130px;
    height: 60px;
    background-color: #0b1a20;
    color: white;
    border: 0;
    border-radius: 30px;
    margin: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: all 200ms ease;
}
button#clear {
    color: red;
    font-weight: bold ;
}


.operator{
color: green;
}

.digit{
    background-color: #0b1a20;
    color: white;
}
button#backspace {
    background-color: peachpuff;
}

.decimal{
    background-color: #0b1a20;
    color: white;
}